@import '../node_modules/mini.css/dist/mini-default.min.css';

.App-content {
    display: grid;
    grid-template-areas:
        "main resize side";
    grid-template-rows: auto;
    grid-template-columns: auto 4px 300px;
}

.App-main {
    grid-area: main;
    background-color: rgb(21, 32, 43);
}

.App-main > div {
    height: calc(100vh - 55px);
}

.App-resize {
    grid-area: resize;
}

.App-resize:hover {
    cursor: col-resize;
}

.App-side {
    grid-area: side;
}
