html, body, #root {
    height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --back-color: rgb(16, 23, 30);
  --fore-color: rgb(255, 255, 255, 0.6);
  --secondary-back-color: rgb(21, 32, 43);
  --secondary-fore-color: rgb(255, 255, 255, 0.8);
  --header-back-color: rgb(28, 41, 56);
  --header-fore-color: rgb(255, 255, 255, 0.8);
  --header-hover-back-color: #333;

  --button-border-color: #ffffffcc;

  --form-back-color: var(--secondary-back-color);
  --form-fore-color: var(--secondary-fore-color);
  --input-back-color: var(--back-color);
  --input-fore-color: var(--fore-color);
  /* --input-border-color: var(--fore-color); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
