.Game {
    width: 100%;
    height: 100%;
}

.GameBattle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.GameBattle-fps {
    user-select: none;
    position: absolute;
    left: 5px;
    top: 55px;
    color: var(--fore-color);
}