header {
    background-color: rgb(28, 41, 56);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

header > * {
    padding: 0 10px;
}

.Header-logo {
    font-variant: small-caps;
    font-weight: bolder;
    user-select: none;
}

.Header-logo:focus,
.Header-logo:hover {
    text-decoration: none;
}