.Chat {
    height: calc(100vh - 55px);
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: var(--secondary-fore-color);
}

.Chat-newchan {
    width: 100%;
    margin-top: 2px;
    text-align: center;
    background-color: var(--secondary-back-color);
    padding: 0 !important;
}

.Chat-newchan::before {
    content: '\002B';
    font-size: 1.40rem;
    line-height: 0;
}

.Chat-newchan:hover {
    cursor: pointer;
}

.ChatBox {
    margin: 2px 0;
    display: grid;
    overflow: hidden;
    grid-template-rows: 30px auto 90px;
    gap: 2px;
}

.ChatBoxHeader {
    width: inherit;
    background-color: var(--secondary-back-color);
    padding: 5px 10px 0 10px;

    border-radius: 10px 10px 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ChatBoxHeader-name {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.ChatBoxHeader-options {
    display: flex;
    flex-direction: row;
}

.ChatBoxHeader-adduser::before {
    content: '\002B';
    font-size: 1.40rem;
    line-height: 0;
    text-align: center;
}

.ChatBoxHeader-close::before {
    content: '\00D7';
    font-size: 1.40rem;
    line-height: 0;
    text-align: center;
}

.ChatBox-messages-wrapper {
    background-color: var(--secondary-back-color);
    overflow: auto;
}

.ChatBox-messages {
    height: 35vh;
    margin-right: 5px;
    overflow: auto;
}

.ChatBoxMessage {
    padding: 2px 2px 2px 7px;
    overflow-wrap: break-word;
}

.ChatBoxMessage-user {
    color: rgb(255, 255, 255, 0.8);
}

.ChatBoxMessage-username {
    font-weight: bold;
    color: var(--secondary-fore-color);
}

.ChatBoxMessage-system {
    color: red;
    font-style: italic;
}

.ChatBoxMessage-chan_info {
    color: var(--fore-color);
    font-style: italic;
}

.ChatBoxMessage-game {
    color:lightgreen;
    font-style: italic;
}

.ChatBoxText {
    background-color: var(--secondary-back-color);
}

.ChatBoxText > form {
    display: grid;
    padding: 0;
    border: none;
}

.ChatBoxText > form > textarea {
    border: none;;
    resize: none;
}

.ChatBoxAddUser form {
    padding: 0;
}
