.Chat {
    height: calc(100vh - 50px);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.ChatBox {
    margin: 2px 0;
    flex: 1;
    display: grid;
    overflow: hidden;
    grid-template-rows: 30px auto 90px;
    gap: 2px;
}

.ChatBox-messages {
    min-height: 40vh;
    overflow: auto;
    background-color: var(--secondary-back-color);
}

.ChatBoxHeader {
    background-color: var(--secondary-back-color);
    padding: 5px 10px 0 10px;
    border-radius: 10px 10px 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ChatBoxMessage {
    padding: 5px 10px;
    overflow-wrap: break-word;
}

.ChatBoxMessage-username {
    font-weight: bold;
}

.ChatBoxText {
    background-color: var(--secondary-back-color);
}

.ChatBoxText > form {
    display: grid;
    padding: 0;
    border: none;
}

.ChatBoxText > form > textarea {
    border: none;;
    resize: none;
}